<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <section class="hero is-fullheight">

        <div class="hero-body">
            
          <div class="container">
            <div class="container has-text-centered">
                <p class="title">
                  Login
                </p>
              </div>

              <br>

            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-4-widescreen">
                <form action="" class="box">
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" placeholder="Email Address" class="input" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="container has-text-centered">
                    <div class="field">
                        <button class="button is-success">
                        Login
                        </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </section>
</body>
</html>