<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <section class="hero is-fullheight">

        <div class="hero-body">
            
          <div class="container">
            <div class="container has-text-centered">
                <p class="title">
                  Create Account
                </p>
              </div>

              <br>

            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-4-widescreen">
                <form action="" class="box">
                    
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Type in your full name.." required>
                        </div>
                      </div>
                  
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                        <input class="input" type="email" placeholder="Type in your email.." required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input type="password" placeholder="Type in a password.." class="input" required>
                        </div>
                    </div>

                    <div class="container has-text-centered">
                        <div class="field">
                            <button class="button is-info">
                            Sign Up
                            </button>
                        </div>
                    </div>
                  
                </form>
              </div>
            </div>
          </div>

        </div>

      </section>
</body>
</html>