@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
    background-color: rgb(143, 152, 185);
}
.navbar {
    background-color: rgb(143, 152, 185);
}
.card {
    background-color: rgb(198, 197, 197);
}
.spacer {
    margin-top: 2px;
}